@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: all 1.5s ease;
}

.dark {
  background-color: #022B3A;
  color: #E1E5F2;
  transition: all 1.5s ease;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1F7A8C;
}
.header .title {
  margin-left: 1rem;
}
.header .nav-bar {
  flex: 1;
  text-align: center;
  margin-right: 5rem;
}
.header .nav-bar .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}
.header .nav-bar .nav-list .list-item a {
  color: #BFDBF7;
}
.header #lblToggle,
.header #lblCart {
  font-size: 2em;
  cursor: pointer;
  transition: 300ms;
}
.header #lblToggle:hover,
.header #lblCart:hover {
  color: #FFFFFF;
}
.header #toggle,
.header #cart {
  display: none;
}
.header #lblCart {
  margin-left: 20px;
}
.header .cart-popup {
  display: none;
  position: absolute;
  top: 30px; /* Ajusta la posición vertical */
  right: 0; /* Ajusta la posición horizontal */
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

#index-title {
  text-align: center;
}

#carouselExample {
  width: 800px;
}

#lblSelect,
#lblProducts {
  margin-left: 1rem;
}

#filterSelect,
#productSelect {
  width: 250px;
  margin-left: 1rem;
}

#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#productList .product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#productList .product-card img {
  width: 250px;
  border-radius: 8px;
}
#productList .product-card h3 {
  margin-top: 15px;
  font-size: 1.5em;
}
#productList .product-card p {
  color: #666;
  font-size: 1em;
}
#productList .product-card button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#productList .product-card button:hover {
  background-color: #2980B9;
}

.container {
  width: 60%;
  padding: 45px;
  border-radius: 0;
}

.row {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.col-md-7 {
  padding: 20px;
}

.col-md-5 {
  background: #1089ff;
  padding: 20px;
  color: white;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bi {
  font-size: 20px;
}

.d-flex p {
  font-size: 18px;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 1rem;
  background-color: #1F7A8C;
}
.footer .footer-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer .footer-info .info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}/*# sourceMappingURL=main.css.map */